.footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000000EE;
}

.footer-content {
  width: 100%;
  height: 100%;
  padding: 2.5% 15%;
  color: white;
}

.newsletter-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  font-weight: 200;
  font-size: 0.75rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.section-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-section p {
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-section i {
  margin-right: 0.5rem;
}

@media (max-width: 450px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-content {
    padding: 2.5% 5%;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .footer-content {
    padding: 2.5% 5%;
  }
}


@media (min-width: 769px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}



.copyright, .policies {
  text-align: center;
  font-weight: 200;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}